.btn-like {
  transition: transform 0.1s linear;
}

.btn-like:active {
  transform: scale(1.2);
}

.post-bellow {
  margin-left: 15px;
  font-size: 15px;
  line-height: 24px;
}

.post-bellow span {
  color: #4444;
  font-weight: 600;
}

.post-bellow span.post-date {
  font-size: 12px;
}

.newcomment-container {
  width: 100%;
  height: 50px;
  border: 1px solid #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #e9e9e9;
  margin-top: 10px;
}

.newcomment-container * {
  border: none;
  background-color: transparent;
}

.newcomment-container textarea {
  resize: none;
  width: 80%;
  padding: 15px 0px;
  font-size: 15px;
}

.newcomment-container button {
  vertical-align: center;
  font-size: 15px;
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

